#pic{
    display: block;
    position: absolute;
    top: 30%;
    left: 38%;
    
}
.searchbar{
    position: absolute;
    top:47%;
    left: 30%;
    width: 500px;
    height: 35px;
    border: 1px solid rgb(202, 200, 200);
    border-radius: 20px;
        
}
.bar{
    position: relative;
    border:none;
    width: 400px;
    height: 30px;
    top:2px;
    left: 27px;
    margin: 0.75px;
    outline: none;
    font-size: larger;
}
#searchicon{
    color: rgb(107, 106, 106);
    z-index: 1;
    position: absolute;
    top: 8px;
    left: 7px;
}

#mic{
    position: relative;
    left: 65px;
    top:8px;
    width: 14px;
    height: 21px;
}
.material-icons{
    display: inline;
    position: fixed;
}
.example{
    margin-left: auto;
    margin-right: auto;
}

.feelinglucky{
    position: absolute;
    top:57%;
    left: 38%;
}
.button1, .button2
{
    border: 1px solid #f2f2f2; 
    background-color:#f2f2f2 ;
    height: 30px;
    margin: 3px;
    
    border-radius: 5px;
    padding: 10px 15px 25px;
    color: rgb(70, 64, 64);
    font-size:small;
}


.searchbar:hover {
    box-shadow: 0 2px 11px rgba(33,33,33,.2); 
}
.navbar{
    display: flex;
    flex-direction: column-reverse;
}
#nav2{
    position: relative;
    margin-bottom:10px ;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li {
    float: right;
    padding: 10px;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#logo{
    
    margin-left: 15px;
}

.navelements{
    text-decoration: none;
    color: rgb(70, 64, 64) ;
    
}

#logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#apps{
   color: rgb(70, 64, 64) ;
   
   
}

.button1:hover, .button2:hover{
    border: 1px solid rgb(199, 192, 192);
}
